
<%= "I Love "+" Ruby"%>
<h1><%= 1 + 2 %></h1>

<div> 1 + 2 </div>

<% if 1 == 2%>
<p>1 equals to 2!</p>
<% else %>
<p> Math is a lie </p>
<%end%>

<% comments = ['Your picture is so cute', 'Love the dog', 'Imy'] %>


<ol> 
<li> Your picture is so cute</li>
<% catLady = true %>
<% if catLady == true %>
<p>You are a crazy cat lady</p>
<% else %>
<p>Join Adielle's cat hating army</p>
<% end %>

<% comments = ['Your picture is so cute', 'Love the dog', 'miss you'] %>

<ol>
  <% comments.each do |comment| %>
  <% puts
</ol>
</ol>






